<footer>
    <div class="col-md-6 contact-me">
        <h2>Contact me</h2>
        <ul class="list-unstyled">
            <li>
                <a href="mailto:yitaqi2011@gmail.com?Subject=Music Geeker"><i class="fa fa-envelope-o"></i>yitaqi2011@gmail.com</a>
            </li>
            <li>
                <a href="https://twitter.com/Normal_Geek_Xue"><i class="fa fa-twitter"></i>@Normal_Geek_Xue</a>
            </li>
            <li>
                <a href="#" ng-click="showWeChatModal()"><i class="fa fa-weixin"></i>Wechat</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 site-about">
        <h2>What is this about?</h2>
        <p>你听过的音乐有多少，你敢说自己是中华小曲库，你敢说你听过的并且熟悉的歌曲比别人多吗？你想证明自己，那就来吧！挑战你的听觉。</p>
    </div>
    <div class="site-right col-md-12">
        <p>This site created by Nicholas Xue, all rights reserved &copy; 2014</p>
    </div>
</footer>