<footer>
    <div class="col-md-6 contact-me">
        <h2>Contact me</h2>
        <ul class="list-unstyled">
            <li>
                <a href="mailto:yitaqi2011@gmail.com?Subject=Music Geeker"><i class="fa fa-envelope-o"></i>yitaqi2011@gmail.com</a>
            </li>
            <li>
                <a href="https://twitter.com/Normal_Geek_Xue"><i class="fa fa-twitter"></i>@Normal_Geek_Xue</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-weixin"></i>Wechat</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 site-about">
        <h2>What is this about?</h2>
        <p>音乐是不假任何外力，直接沁人心脾的最纯的感情的火焰；它是从口吸入的空气，它是生命的血管中流通着的血液。</p>
    </div>
    <div class="site-right col-md-12">
        <p>This site created by Nicholas Xue, all rights reserved &copy; 2014</p>
    </div>
</footer>