<section class="home-section" ng-controller="AudioCtrl">
    <div class="mg-overlay" ng-class="{active: userInfoState}" ng-click="userInfoState=false"></div>
    <div class="right-side-bar" ng-class="{active: userInfoState}">
        <div class="user-card">
            <img src="images/downloads.jpg" alt="" class="img-responsive user-card-cover">
            <a href="#" ng-click="signOut()" class="setting-link"
                data-toggle="tooltip"
                data-placement="left"
                title="sign out"
                ng-hide="data.user.name === '你还没有登录'"
                mg-tooltip><i class="fa fa-sign-out"></i></a>
            <div class="user-info-wrap">
                <div class="user-avatar">
                    <img ng-src="{{data.user.avatar}}" alt="" class="img-responsive img-circle" width="60" height="60">
                </div>
                <div class="user-info-other">
                    <h3>{{data.user.name}}</h3>
                    <p>
                        <span>{{data.user.level}}</span>
                        <span>{{data.user.score}}</span>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="shrinkwrap" ng-class="{shrunk: userInfoState}">
        <div id="header" class="header">
            <h1 class="logo"></h1>
            <div class="right-sidebar-toggle" ng-click="userInfoState=true">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="content-wrap">
            <div class="toptip-box">
                <h4>Music Geek - Tips</h4>
                <p>点击下面的播放器，会依次播放歌曲的伴奏，你所需要的是听伴奏猜出歌曲的名字。猜对加分，猜错不扣分，放弃会显示歌曲正确信息。Go for it!</p>
            </div>
            <div class="music-play-box">
                <img src="images/img-123.jpg" alt="" class="img-responsive album-cover">


                <button class="answer-button" ng-click="showAnswerFormModal()">Answer it</button>
                <div class="audio-controls">
                    <ul class="list-inline">
                        <li>
                            <div class="control-wrap" ng-click="audioPrev()">
                                <span class="fa fa-backward"></span>
                            </div>
                        </li>
                        <li>
                            <div class="control-wrap control-play" ng-click="audioPlay()">
                                <span class="fa {{playing ? 'fa-play' : 'fa-pause'}}"></span>
                            </div>
                        </li>
                        <li>
                            <div class="control-wrap" ng-click="audioNext()">
                                <span class="fa fa-forward"></span>
                            </div>
                        </li>
                        <li class="volume-list-item pull-right">
                            <div class="control-wrap volume-control" ng-click="audioVolumeUp()">
                                <span class="fa fa-plus"></span>
                            </div>
                        </li>
                        <li class="volume-list-item pull-right">
                            <div class="control-wrap volume-control" ng-click="audioVolumeDown()">
                                <span class="fa fa-minus"></span>
                            </div>
                        </li>
                        <li class="pull-right" ng-click="audioToggleMute()">
                            <div class="control-wrap">
                                <span class="fa {{mute ? 'fa-volume-off' : 'fa-volume-up'}}"></span>
                            </div>
                        </li>
                    </ul>
                </div>
                <audio media-player="audio1" data-playlist="playlist">
                    <source src="audios/demo.mp3" type="audio/mpeg" />
                    Your browser sucks, i suggest you change it imediately sencerely!
                </audio>
                <div ng-include="'partials/notification.html'"></div>
            </div>
        </div>
    </div>
</section>