<div class="ngdialog-message login-modal">
    <div class="modal-inner">
        <header>
            <h2>Log In to MGeek</h2>
            <p>Don't have an account? <a ng-click="showSignupModal()">Sign Up Free!</a></p>
        </header>
        <div class="mg-modal-body">
            <form name="loginForm" novalidate ng-submit="loginFormSubmit(user)">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Username"
                        ng-model="user.name" ng-minlength="6" ng-maxlength="20" ng-pattern="/^[a-zA-Z0-9]+$/" required>
                </div>
                <div class="form-group">
                    <input type="password" name="pass" class="form-control" placeholder="Password"
                        ng-model="user.pass" ng-minlength="6" ng-maxlength="30" required>
                </div>
                <div class="alert alert-warning" ng-show="hasError">
                    {{login.msg}}
                </div>

                <button type="submit" class="mg-btn mg-btn-block" ng-disabled="loginForm.$invalid">Log In</button>

                <div class="forget-pass">
                    <a ng-click="showForgotPassModal()" class="forget-pass-link">Forgot password?</a>
                </div>
            </form>
        </div>
    </div>
</div>