<section class="mg-section">
    <div class="mg-img-background index-img-background"></div>
    <div class="mg-mask">
        <div class="container">
            <div class="row index-header">
                <div class="col-md-6">
                    <div class="header-brand">Music Geeker</div>
                </div>
                <div class="col-md-6">
                    <div class="login-button pull-right">
                        Login
                    </div>
                </div>
            </div>

            <div class="row index-content">
                <div class="col-md-6">
                    <div class="left-content">
                        <h2>Music Inspired</h2>
                        <p>音乐表达的是无法用语言描述，却又不可能对其保持沉默的东西。</p>
                        <p>音乐是不假任何外力，直接沁人心脾的最纯的感情的火焰；它是从口吸入的空气，它是生命的血管中流通着的血液。</p>
                        <p>音乐是比一切智慧、一切哲学更高的启示，谁能渗透我音乐的意义，便能超脱寻常人无以自拔的苦难。</p>
                        <div class="get-started">
                            <a href="#" class="get-started-link pull-right">Get started</a>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 right-wrap">
                    <div class="right-content right-img-1">
                        <img src="images/music1.jpg" alt="" class="img-responsive">
                    </div>
                    <div class="right-content right-img-2">
                        <img src="images/music2.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>