.index-img-background {
    background-image: url(../images/image11.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.index-header {
    padding: 15px 20px;
}
.header-brand {
    font-size: 30px;
    line-height: 40px;
}
.login-button {
    padding: 8px 15px;
    border: 1px solid #fff;
    border-radius: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}
.login-button:hover {
    background-color: #ff3b6b;
    border-color: #ff3b6b;
}
.index-content {
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}
.left-content {
    padding: 10px 15px;
}
.left-content h2 {
    margin-bottom: 30px;
}
.left-content p {
    font-weight: 300;
    line-height: 30px;
    width: 315px;
}
.get-started {
    margin-top: 30px;
    width: 315px;
}
.get-started-link {
    margin-top: 30px;
    margin-right: 15px;
    padding: 10px 15px;
    background-color: #ff3b6b;
    color: #fff;
    border-radius: 25px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 300;
    text-decoration: none;
}
.get-started-link:hover {
    color: #ffffff;
    text-decoration: none;

}
.right-content {
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.right-img-1 {
    width: 410px;
    height: 276px;
    transform: rotate(10deg);
    -webkit-transform: transform: rotate(10deg);
    -moz-transform: transform: rotate(10deg);
}
.right-img-2 {
    width: 343px;
    height: 323px;
    transform: rotate(-10deg) translateY(-50px);
    -webkit-transform: rotate(-10deg) translateY(-50px);
    -moz-transform: rotate(-10deg) translateY(-50px);
}

.login-modal {
    padding: 10px 30px 15px 30px;
}
.login-modal header {
    margin-bottom: 20px;
    text-align: center;
}
.login-modal header h2 {
    font-weight: 300;
    color: #8c97a1;
    line-height: 30px;
}
.login-modal header p {
    font-weight: 300;
    line-height: 28px;
    color: #aeb6bd;
}
.mg-modal-body .form-control {
    height: 40px;
    border-radius: 6px;
    font-weight: 300;
    font-style: italic;
    color: #aeb6bd;
}
.forget-pass {
    margin-top: 15px;
    padding-top: 5px;
    text-align: center;
}

/***** home right side bar ****/
.right-side-bar {
    width: 473px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: #5a6378;
    color: #fff;
    z-index: 4;
    -webkit-transform: translate3d(473px, 0, 0);
    transform: translate3d(473px, 0, 0);
    -moz-transform: translate3d(473px, 0, 0);
    -ms-transform: translate3d(473px, 0, 0);
    -o-transform: translate3d(473px, 0, 0);
    transition: transform 0.4s;
    -wbkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -ms-transition: -ms-transform 0.4s;
    -o-transition: -o-transform 0.4s;
}
.right-side-bar.active {
    -webkit-transform: translate3d(0, 0, 110px);
    transform: translate3d(0, 0, 110px);
    -moz-transform: translate3d(0, 0, 110px);
    -ms-transform: translate3d(0, 0, 110px);
    -o-transform: translate3d(0, 0, 110px);
}
.user-card {
    position: relative;
}
.user-card-cover {
    max-height: 200px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0.4;
    filter:(opacity=40);
}
.setting-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 26px;
    line-height: 30px;
}
.setting-link:hover {
    color: #fff;
}
.user-avatar {
    width: 64px;
    height: 64px;
    padding: 2px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 68px;
    left: 30px;
}
.user-info-other {
    position: absolute;
    top: 68px;
    left: 100px;
    overflow: hidden;
    padding: 5px;
}
.user-info-other h3 {
    margin: 0 0 4px 0;
}
.user-profile {
    min-height: 100px;
    padding: 30px 20px 20px 30px;
    font-size: 14px;
    line-height: 28px;
    color: #98a2b1;
    border-bottom: 2px solid #51596c;
}
.list-wrap {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    border-bottom: 2px solid #51596c;
}
.list-wrap li {
    padding: 0;
    margin: 0;
    height: 100px;
    float: left;
    width: 157px;
    border-right: 2px solid #51596c;
}
.list-wrap li:last-child {
    border-right: none;
}
.user-info-list {
    height: 100%;
    width: 100%;
    float: left;
    padding-top: 33px;
    padding-left: 40px;
    padding-right: 20px;
    color: #98a2b1;
}
.list-icon {
    float: left;
    font-size: 28px;
    line-height: 34px;
    width: 40%;
}
.list-item-content {
    float: left;
    width: 60%;
}
/*************/

.hot-geekers {
    padding: 30px 20px 20px 40px;
}
.hot-geekers h3 {
    margin-top: 0;
    margin-bottom: 20px;
}
.top-list-item {
    position: relative;
    padding-top:5px;
    padding-left: 5px;
    margin-bottom: 15px;
}
.top-users-info {
    position: absolute;
    top: 10px;
    left: 65px;
}

/**********/
.shrinkwrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    background-color: #21242e;
}
.shrinkwrap.shrunk {
    transfrom: scale(0.9);
    -webkit-transform: scale(0.9);
}
.header {
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
}
.header .logo {
    height: 62px;
    width: 68px;
    background: url(../images/logo.png) no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 30px;
}
.header .right-sidebar-toggle {
    height: 44px;
    width: 44px;
    border: 1px solid #e23861;
    border-radius: 22px;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 30px;
    z-index: 1;
    cursor: pointer;
    color: #e23861;
}
.header .right-sidebar-toggle i {
    font-size: 24px;
    margin-left: 11px;
    margin-top: 9px;
}
/**********/
.content-wrap {
    width: 800px;
    margin: 0 auto;
}
.toptip-box {
    width: 780px;
    margin-top: 65px;
    margin-left: 10px;
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
}
.music-play-box {
    width: 780px;
    margin: 30px auto;
    height: 500px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}

/*************/
.music-play-box form {
    position: absolute;
    top: 50px;
    left: 100px;
}
.answer-label {
    display: inline-block;
    font-size: 20px;
    color: #21242e;
    font-weight: 700;
}
.answer-input {
    display: block;
    width: 310px;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .6);
    background-color: transparent;
    outline: none;
    font-size: 2.5em;
    padding: 10px 15px 10px 15px;
    color: #21242e;
    font-weight: 700;
    margin-bottom: 20px;
}
/*************/


.music-play-box .album-cover {
    height: 350px;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    opacity: 0.5;
    filter: (opacity=50);
}
.audio-controls {
    height: 150px;
    background-color: #dedcdc;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
}
.audio-controls ul {
    padding: 0;
    margin: 0;
}

.control-wrap {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 60px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 60px;
    font-size: 30px;
    line-height: 36px;
    color: #e9e6e4;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    cursor: pointer;
}
.control-wrap.control-play {
    height: 70px;
    width: 70px;
}
.control-wrap.volume-control {
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}
.volume-list-item {
    padding-top: 20px;
}
.fa-backward {
    margin-top: 16px;
    margin-left: 13px;
}
.fa-play {
    margin-left: 26px;
    margin-top: 20px;
}
.fa-forward {
    margin-top: 16px;
    margin-left: 19px;
}
.fa-pause {
    margin-top: 20px;
    margin-left: 22px;
}
.fa-volume-up {
    margin-left: 15px;
    margin-top: 16px;
}
.fa-volume-off {
    margin-left: 20px;
    margin-top: 16px;
}
.fa-plus, .fa-minus {
    margin-left: 7px;
}
.control-wrap:after{
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}


.control-wrap:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}



.control-wrap:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.control-wrap:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.answer-button {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color:#599bb3;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Georgia;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65px;
}
.answer-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}

